body {
    background-color: lightblue;
}

.main {
    border-radius: 10px;
    width: 660px;
    margin: 50px auto;
    height: 70%;
    background-color: #fff;
}

.half ul {
    list-style-type: none;
    padding: 0;
}

.half ul li {
    margin-bottom: 20px;
    display: inline-block;
    width: 100%;
}

.half ul li h1 {
    font-size: 17px;
    margin-top: 0;
    font-weight: normal;
}



.slika img {
    max-height: 125px;
    border-radius: 50%;
    margin: 0 auto;
    display: block;
    padding: 20px;
}

.container {
    width: 100%;
    display: inline-block;
    padding-bottom: 25px;
}

.half {
    width: 50%;
    float: left;
    padding: 0 40px;
    box-sizing: border-box;
}

input {
    outline: none;
    padding: 5px 10px;
    width: 100%;
    border-radius: 5px;
    background-color: lightgrey;
    border: 1px solid lightgrey;
    box-sizing: border-box;
}

textarea {
    width: 100%;
    border: 1px solid lightgrey;
    border-radius: 5px;
    margin: 0;
    padding: 0;
}

.footer {
    clear: left;
    width: 100%;
    background-color: #fff;
}

.footer ul {
    list-style-type: none;
    padding: 0 40px;
}

.footer ul li {
    margin-bottom: 15px;
}

button {
    float: right;
    color: #fff;
    background-color: green;
    padding: 10px 25px;
    border: none;
    border-radius: 5px;
    margin-top: 20px;
    display: inline-block;
}