#main{
    height: 350px;
    width: 300px;
    
}
#upper{
    height: 49%;
    width: 100%;
}
#lower
{
    height: 49%;
    width: 100%;
    background-color: #00adef;
    margin-top: 2%;
    text-align: center;

}
#left  {
    height: 100%;
    width: 49%;
    float: left;
    background-color: #00adef;
    text-align: center;
    
}
#right  {
    height: 100%;
    width: 49%;
    float: right;
    background-color: #00adef;
    text-align: center;
    
}
img{
    margin-top: 20px;
}
