body{
    margin: 0;
}
.container{
    width: 100px;
    height: 100px;
    background-color: blue;
    margin: 10px auto;
    border-left: 3px solid darkorange;
    padding-left: 10px;
    padding-top: 10px;
}
.imePrezime{
    color: white;
    margin: 5px 10px;
}
