#main{
    width: 640px;
    height: 450px;
    background-color: lightgray;
    margin: 30px auto;
}

#header{
    width: 100%;
    height: 20%;
    background-color: #4A5154;
}

#dlwmsLogo{
    margin: 30px;
}

#middle{
    width: 100%;
    height: 60%;    
}

.content{
    width: 50%;
    height: 100%;
    float: left;
    /*background-color: blue;*/
    padding: 30px;
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 14px;
}

#footer {
    width: 100%;
    height: 20%;
    background-color: #4A5154;
    clear: left;
}

.content p a {
    text-decoration: none;
}

#leftBottom{
    width: 70%;
    float: left;
}
#rightBottom{
    width: 30%;
    float: left;
}
#leftBottom a {
    margin-left: 23px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
}

#lozinka {
    height: 20px;
    width: 220px;
    border-radius: 5px;
}
#brDosijea{
    height: 20px;
    width: 220px;
    border-radius: 5px;
}

