body
{
    margin: 0px;
    padding: 0px;
}

#main
{
    width: 600px;
    height: 80px;
    margin: 20px auto;
    background-color: black;
    box-sizing: border-box;
}

label
{
    color: white;
    font-size: 26px;
    float:left;
    margin: 20px 20px;
    padding: 5px;
    box-sizing: border-box;
}

#txtEmail
{
    width: 405px;
    height: 40px;
    margin: 20px 10px;
    padding: 10px 40px;
    float:left;
    border: 1px solid floralwhite;
    border-radius: 4px;
    background-image: url("../slike/olovka.png");
    background-repeat: no-repeat;
    background-position: left;
    background-size: 38px;
    box-sizing: border-box;

}

#btnEmail
{
    width: 40px;
    height: 40px;
    box-sizing: border-box;
    margin: 20px 8px;
    border: none;
    float: left;
    border-radius: 3px;
    background-color: limegreen;
    background-image: url("../slike/mail.png");
    background-repeat: no-repeat;
    background-position: center;
    background-position-y: 10px;
    background-size: 24px;
    cursor: pointer;
}

#txtEmail::selection
{
    border: 1px solid saddlebrown;
}

#btnEmail:hover
{
    background-color: springgreen;
}